<h1><%= @article.title %></h1>
<p><%=  @article.body  %></p>

<%# Timestamps %>
<p>Created <%= @article.created_at.strftime("%-d %b %Y") %>
        at <%= @article.created_at.strftime('%k:%M') %></p>

<% if @article.updated_at != @article.created_at %>
<p>Updated <%= @article.updated_at.strftime("%-d %b %Y") %>
        at <%= @article.updated_at.strftime('%k:%M') %></p>
<% end %>

<%# Display tags if exist %>
<% if @article.tags.size.positive? %>
  <p>

    Tags:
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
    <% end %>

  </p>
<% end %>

<%# Buttons %>
<%= link_to '[Edit]', edit_article_path(@article) %>

<%= link_to '[Delete]', article_path(@article),
            method: :delete %>

<%# Add comment %>
<%= render 'comments/form'%>

<%# Comments list %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comments/comment', collection: @article.comments, as: :comment %>
