<% provide(:page_title, @article.title) %>

<div class = 'article-box'>

  <p class = "article-body">
    <%=  @article.body  %>
  </p>

  <%# Timestamps %>
  <div class = "timestamp">
    <span class = "created-at">
      Created <%= @article.created_at.strftime("%-d %b %Y") %>
          at <%= @article.created_at.strftime('%k:%M') %>
    </span>

    <% if @article.updated_at != @article.created_at %>
      <span class = "updated-at">
        Updated <%= @article.updated_at.strftime("%-d %b %Y") %>
            at <%= @article.updated_at.strftime('%k:%M') %>
      </span>
    <% end %>
  </div>

  <%# Display tags if they exist %>
  <div class = 'tags-under-article'>
    <%= render partial: 'shared/tags_display',
                locals:  { tags_to_display: @article.tags,
                          prefix: 'Tags:' } %>
  </div>

  <%# Buttons %>
  <% if logged_in? %>
    <div class = 'article-buttons-block'>
      <%= link_to 'edit', edit_article_path(@article),
                  class: 'button
                          article-button
                          edit-article-button' %>

      <%= link_to 'delete', article_path(@article),
                  method: :delete,
                  class: 'button
                          article-button
                          delete-article-button' %>
    </div>
  <% end %>

</div>

<%# Add comment %>
<%= render 'comments/form'%>

<%# Comments list %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comments/comment', collection: @article.comments, as: :comment %>
