<% provide(:page_title, @article.title) %>

<section class = 'article-container'>

  <%# Article itself %>
  <p class = 'article-container__article'>
    <%=  @article.body  %>
  </p>

  <%# Timestamps %>
  <div class = 'article-container__timestamps'>
    <p class = 'created-at'>
      Created <%= @article.created_at.strftime('%-d %b %y') %>
           at <%= @article.created_at.strftime('%k:%M') %>
    </p>

    <% if @article.updated_at != @article.created_at %>
      <p class = 'updated-at'>
        Updated <%= @article.updated_at.strftime('%-d %b %y') %>
             at <%= @article.updated_at.strftime('%k:%M') %>
      </p>
    <% end %>
  </div>

  <%# Display tags if they exist %>
  <div class = 'article-container__tags'>
    <%= render partial: 'shared/article_tags',
                locals:  { tags_to_display: @article.tags,
                          prefix: 'Tags:' } %>
  </div>

  <%# Buttons %>
  <% if logged_in? %>
    <div class = 'article-container__buttons'>
      <%= link_to 'edit', edit_article_path(@article),
                  class: 'button
                          button--edit-article' %>

      <%= link_to 'delete', article_path(@article),
                  method: :delete,
                  class: 'button
                          button--delete-article' %>
    </div>
  <% end %>

</section>

<%# Add comment %>
<section class = 'comment-form'>
  <p class = 'comment-form__title'>
    Post a Comment
  </p>

  <%= render 'comments/form'%>
</section>

<%# Comments %>
<section class = 'comments'>
  <p class = 'comments__counter'>
    Comments (<%= @article.comments.size %>)
  </p>

  <%= render partial: 'comments/comment',
             collection: @article.comments,
             as: :comment %>
</section>
