<h1><%= @article.title %></h1>
<p><%=  @article.body  %></p>

<%# Timestamps %>
<p>Created <%= @article.created_at.strftime("%-d %b %Y") %>
        at <%= @article.created_at.strftime('%k:%M') %></p>

<% if @article.updated_at != @article.created_at %>
<p>Updated <%= @article.updated_at.strftime("%-d %b %Y") %>
        at <%= @article.updated_at.strftime('%k:%M') %></p>
<% end %>

<%# Display tags if they exist %>
<%= render partial: 'shared/tags_display',
            locals:  { tags_to_display: @article.tags,
                       prefix: 'Tags:' } %>

<%# Buttons %>
<% if logged_in? %>
  <p>
    <%= link_to '[edit]', edit_article_path(@article) %>

    <%= link_to '[delete]', article_path(@article),
                method: :delete %>
  </p>
<% end %>

<%# Add comment %>
<%= render 'comments/form'%>

<%# Comments list %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comments/comment', collection: @article.comments, as: :comment %>
