<% provide(:page_title, 'Login') %>

<%= form_tag author_sessions_path, method: :post do %>
  <p>
    <%= label_tag :email, 'Email', class: 'login-form-item-title' %>
    <%= text_field_tag :email, '', class: 'login-form-item-field' %><br/>
  </p>

  <p>
    <%= label_tag :password, 'Password', class: 'login-form-item-title' %>
    <%= password_field_tag :password, '', class: 'login-form-item-field' %><br/>
  </p>

  <%= submit_tag "Login", class: 'login-button' %>
<% end %>
