<!DOCTYPE html>
<html>

  <head>
    <title><%= full_title(yield(:page_title)) %></title>

    <%= render 'layouts/rails_defaults' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%# Side navigation block %>
    <aside class = "left-nav-block">
      <%= render 'layouts/section_switch' %>
      <%= render 'layouts/create_new_article' %>
      <%= render 'shared/flashes' %>
    </aside>

    <%# Main content%>
    <div class = "main-content">

      <%# Page title %>
      <header class = "content-block">
        <span class = "page-title">
          <%= yield(:page_title) %>
        </span>
      </header>

      <%# Yielded content %>
      <main class = "content-block">
        <%= yield %>
      </main>

      <%# Login/logout buttons and informantion %>
      <footer class = "content-block">
        <%= render 'layouts/session_manager'%>
      </footer>

    </div>
  </body>
</html>
