<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= render 'layouts/common_rails_stuff' %>
  </head>

  <body>
    <%= render 'shared/flashes' %>

    <%# Switch to tags %>
    <%= render 'shared/switch_article_tag' %>

    <%= yield %>

    <hr>

    <h6>
      <% if logged_in? %>
        <%= "Logged in as #{current_user.email}" %>
        <%= link_to "(logout)", logout_path %>
      <% else %>
        <%= link_to "(login)", login_path %>
      <% end %>
    </h6>
  </body>
</html>
