<!DOCTYPE html>
<html>

  <head>
    <title><%= full_title(yield(:page_title)) %></title>

    <%= render 'layouts/rails_defaults' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%# Side navigation block %>
    <nav class = 'body__grid-item sidebar'>
      <%= render 'layouts/sidebar' %>
      <%= render 'layouts/flash' %>
    </nav>

    <%# Page title %>
    <header class = 'body__grid-item double-bordered'>
      <p><%= yield(:page_title) %></p>
    </header>

    <%# Yielded content %>
    <main class = 'body__grid-item double-bordered main-content'>
      <%= yield %>
    </main>

    <%# Login/logout buttons and informantion %>
    <footer class = 'body__grid-item double-bordered'>
      <%= render 'layouts/session_manager'%>
    </footer>
  </body>
</html>
